<div class="container">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well well-sm">
          <%= form_for :user, :url => "users/update_data", :html => {:class => "form-horizontal", :method => "POST" } do |f| %>
          <fieldset>
            <legend class="text-center">Questions below to be answered</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">1) Tell me about yourself.</label>
              <div class="col-md-9">
                <%= f.text_area :about_yourself, :placeholder => "Tell me about yourself.", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">2) What's your greatest weakness? And why we should hire you?</label>
              <div class="col-md-9">
                <%= f.text_area :weekness_and_reason_to_hire, :placeholder => "What's your greatest weakness? And why we should hire you?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">3) What is meant by Term Forex and how does foreign exchange pairs move?</label>
              <div class="col-md-9">
                <%= f.text_area :forex_meaning_foreign_exchange_move, :placeholder => "What is meant by Term Forex and how does foreign exchange pairs move?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">4) What is the role of central banks in Foreign exchange rates?</label>
              <div class="col-md-9">
                <%= f.text_area :central_banks_in_foreign_exchange_rates, :placeholder => "What is the role of central banks in Foreign exchange rates?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">5) What would you do if you end up a day by 5% loss?</label>
              <div class="col-md-9">
                <%= f.text_area :what_you_do_if_endup_day_by_5_percent_loss, :placeholder => "What would you do if you end up a day by 5% loss?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">6) What is Money and risk Management? How would you manage a account with $1000 equity?</label>
              <div class="col-md-9">
                <%= f.text_area :money_and_risk_management, :placeholder => "What is Money and risk Management? How would you manage a account with $1000 equity?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">7) What is the role of psychology in forex trading?</label>
              <div class="col-md-9">
                <%= f.text_area :phycology_in_forex, :placeholder => "What is the role of psychology in forex trading?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">8) Give an overall explanation of technical analysis in 2 minutes.</label>
              <div class="col-md-9">
                <%= f.text_area :explanation_of_technical_analysis, :placeholder => "Give an overall explanation of technical analysis in 2 minutes.", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">9) What Does Trading Forex Mean?</label>
              <div class="col-md-9">
                <%= f.text_area :trading_forex_maning, :placeholder => "What Does Trading Forex Mean?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">10) How Risky Is Forex Trading?</label>
              <div class="col-md-9">
                <%= f.text_area :risky_of_forex_trading, :placeholder => "How Risky Is Forex Trading?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">11) How Do I Manage Risk?</label>
              <div class="col-md-9">
                <%= f.text_area :how_i_manage_risk, :placeholder => "How Do I Manage Risk?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">12) What Kind Of Forex Trading Strategy Should I Use?</label>
              <div class="col-md-9">
                <%= f.text_area :kind_of_forex_trading_i_use, :placeholder => "What Kind Of Forex Trading Strategy Should I Use?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">13) Why Does Most Interbank Currency Trading Worldwide Involve The U.s. Dollar?</label>
              <div class="col-md-9">
                <%= f.text_area :ict_involved_in_us_doller, :placeholder => "Why Does Most Interbank Currency Trading Worldwide Involve The U.s. Dollar?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">14) Where Is The Central Location Of The Forex Market?</label>
              <div class="col-md-9">
                <%= f.text_area :central_location_of_forex_market, :placeholder => "Where Is The Central Location Of The Forex Market?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">15) Explain your method to manage a $1000 account with money management. </label>
              <div class="col-md-9">
                <%= f.text_area :explain_money_management, :placeholder => "Explain your method to manage a $1000 account with money management.", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">16) What do you mean by fundamental of forex, What are major types of fundamental news?</label>
              <div class="col-md-9">
                <%= f.text_area :mean_by_fundamental_of_forex, :placeholder => "What do you mean by fundamental of forex, What are major types of fundamental news?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">17) You are losing 5% of your account in running trades, What will be your actions?</label>
              <div class="col-md-9">
                <%= f.text_area :actions, :placeholder => "You are losing 5% of your account in running trades, What will be your actions?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">18) Ask the candidate: we are investors and want to join forex, how would you propose us?</label>
              <div class="col-md-9">
                <%= f.text_area :how_to_propose, :placeholder => "Ask the candidate: we are investors and want to join forex, how would you propose us?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">19) What is economics? At the end, start asking simple question, judge him. </label>
              <div class="col-md-9">
                <%= f.text_area :what_is_economics, :placeholder => "What is economics? At the end, start asking simple question, judge him.", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">20) I know you and your girlfriend is in relationship with me.</label>
              <div class="col-md-9">
                <%= f.text_area :relatinship_with_me, :placeholder => "I know you and your girlfriend is in relationship with me.", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">21) What is their educational background?</label>
              <div class="col-md-9">
                <%= f.text_area :educational_background, :placeholder => "What is their educational background?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">22) How were you introduced to the financial markets ?</label>
              <div class="col-md-9">
                <%= f.text_area :introduce_financial_markets, :placeholder => "How were you introduced to the financial markets ?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">23) What are you currently trading ?</label>
              <div class="col-md-9">
                <%= f.text_area :current_trading, :placeholder => "What are you currently trading ?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">24) Do you speak verbal English ?</label>
              <div class="col-md-9">
                <%= f.text_area :do_you_speak_english, :placeholder => "Do you speak verbal English ?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">25) Do you have any verified trading history (myfxbook or equivalent ), if so how long ?</label>
              <div class="col-md-9">
                <%= f.text_area :varified_trading_history, :placeholder => "Do you have any verified trading history (myfxbook or equivalent ), if so how long ?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">26) What has been your Drawdown over the last 12 months?</label>
              <div class="col-md-9">
                <%= f.text_area :your_drawdown, :placeholder => "What has been your Drawdown over the last 12 months?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">27) What is the largest amount that you have traded ?</label>
              <div class="col-md-9">
                <%= f.text_area :largest_amount_traded, :placeholder => "What is the largest amount that you have traded ?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">28) How did you learn about the Financial markets ?</label>
              <div class="col-md-9">
                <%= f.text_area :financial_market_learning, :placeholder => "How did you learn about the Financial markets ?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">29) Which trader/manager do you admire within the financial markets ?</label>
              <div class="col-md-9">
                <%= f.text_area :trade_manager, :placeholder => "Which trader/manager do you admire within the financial markets ?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">30) Which trending groups do you subscribe too?</label>
              <div class="col-md-9">
                <%= f.text_area :trending_groups, :placeholder => "Which trending groups do you subscribe too?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">31) Do you use signals ?</label>
              <div class="col-md-9">
                <%= f.text_area :signals, :placeholder => "Do you use signals ?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">32) Do you use EA’s?</label>
              <div class="col-md-9">
                <%= f.text_area :eas, :placeholder => "Do you use EA’s?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">33) What type of trader are you ?</label>
              <div class="col-md-9">
                <%= f.text_area :type_of_trade, :placeholder => "What type of trader are you ?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">34) What is your strategy ?</label>
              <div class="col-md-9">
                <%= f.text_area :strategy, :placeholder => "What is your strategy ?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">35) What session do you trade?</label>
              <div class="col-md-9">
                <%= f.text_area :session_trade, :placeholder => "What session do you trade?", :class => "form-control" %>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-3 control-label" for="name">36) Can you provide a example of time to worked in a team?</label>
              <div class="col-md-9">
                <%= f.text_area :example_time_to_work_in_team, :placeholder => "Can you provide a example of time to worked in a team?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">37) Where do you see yourself in 5 years?</label>
              <div class="col-md-9">
                <%= f.text_area :yourself_in_5_years, :placeholder => "Where do you see yourself in 5 years?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">38) Do you drink, smoke enjoy drugs?</label>
              <div class="col-md-9">
                <%= f.text_area :drink_smoke, :placeholder => "Do you drink, smoke enjoy drugs?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">39) What personal rituals do you follow before trading?</label>
              <div class="col-md-9">
                <%= f.text_area :prersonal_rituals, :placeholder => "What personal rituals do you follow before trading?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">40) Do you prefer working remotely or in a office?</label>
              <div class="col-md-9">
                <%= f.text_area :remote_or_office, :placeholder => "Do you prefer working remotely or in a office?", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <%= f.text_field :first_name, :placeholder => "Your Name", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Phone Number</label>
              <div class="col-md-9">
                <%= f.text_field :phone_number, :placeholder => "Phone Number", :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Email Id</label>
              <div class="col-md-9">
                <%= f.email_field :email, :placeholder => "Email Id", :class => "form-control" %>
              </div>
            </div>
    
            


    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          <% end %>
        </div>
      </div>
  </div>
</div>


<style type="text/css">
  body {padding-top:20px;}
</style>